* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
.container {
    width: 1140px;
    max-width: calc(1140px - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    font-family: "Public Sans", sans-serif;
}

.header-top {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
    margin-right: 88px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 4px 19px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.navbar__link--active {
    color: #152427;
    position: relative;
}

.navbar__link--active::after {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: -21px;
    left: 21px;
    width: 16px;
    height: 2px;
    background: #143c3c;
}

.header-action__btn {
    font-weight: 500;
    font-size: 1.8rem;
    padding: 15px 52px;
    color: #ffffff;
    text-align: center;
    background: #143c3c;
    border-radius: 40px;
    border: 2px solid #143c3c;
}

.header-action__btn:hover {
    color: #143c3c;
    background: #fff;
}

.header-top {
    border-bottom: 1px solid #dddcdc;
    padding-bottom: 20px;
}

/* Hero */

.hero {
    margin-top: 60px;
    display: flex;
}

.hero__content {
    margin-top: 43px;
    flex-shrink: 0;
    width: 43%;
}

.hero__heading {
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__info {
    width: 368px;
    height: 256px;
}

.hero-action {
    display: flex;
    margin-top: 42px;
}

.hero-action__btn {
    padding: 15px 35px;
    font-size: 1.8rem;
    line-height: 1.56;
    text-align: center;
    color: #ffffff;
    background: #143c3c;
    border-radius: 40px;
    border: 2px solid #143c3c;
}

.hero-action__btn:hover {
    color: #143c3c;
    background: #fff;
}

.watch-video {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 36px;
    outline: none;
    border: none;
    background: #fff;
    cursor: pointer;
}

.watch-video__text {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #152427;
}

.hero-action__ellipse {
    position: absolute;
    left: -1px;
}

.watch-video__icon {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}

.hero__media {
    position: relative;
    flex-grow: 1;
}

.hero__images {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    z-index: 1;
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__images::after {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    content: "";
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(150px);
}

.lineball {
    display: inline-block;
    width: 545px;
    height: 361px;
    z-index: 2;
    position: absolute;
    top: -32px;
    right: 298px;
}

.lineball__ball {
    position: absolute;
    top: 7px;
    left: -40px;
}

.lineball-2 {
    position: absolute;
    z-index: 2;
    bottom: -80px;
    right: 45px;
    rotate: 180deg;
}

/* Client */

.client {
    margin-top: 130px;
}

.client__social {
    display: flex;
    padding: 76px 122px;
    background: #e2eddf;
    border-radius: 100.5px;
    justify-content: space-between;
    align-items: center;
}

.client__logo-3 {
    display: flex;
    align-items: center;
}

.client__logo-text {
    margin-left: 11px;
    font-size: 2.6rem;
    color: #163c35;
    cursor: default;
}

/* Service */

.service {
    margin-top: 106px;
}

.our {
    display: flex;
    align-items: center;
    margin-left: 46px;
    position: relative;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #152427;
}

.our::before {
    position: absolute;
    display: inline-block;
    content: "";
    left: -46px;
    width: 25px;
    height: 1px;
    background: #152427;
}

.service__top {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat__info-heading,
.heading-2 {
    position: relative;
    width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.heading-2::after {
    position: absolute;
    margin-left: 26px;
    display: inline-block;
    content: "";
    bottom: 21px;
    width: 66px;
    height: 2px;
    background: #152427;
}

.service-action {
    display: flex;
    justify-content: center;
    column-gap: 17px;
}

.service-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
    background: #e2eddf;
}

.service-btn:hover {
    background: #143c3c;
    color: #fff;
}

.service-btn:last-child {
    rotate: 180deg;
}

.service__list {
    margin-top: 76px;
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.service-item__thump {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    height: 318px;
    object-fit: cover;
}

.service-item__info {
    padding: 24px 18px;
    border-radius: 20px;
}

.service-item__heading {
    display: inline-block;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.service-item__desc {
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

.service-item {
    transition: 0.25s;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 0 0 20px 20px;
}

/* Stat */

.stat {
    margin-top: 149px;
}

.stat__body {
    display: flex;
    column-gap: 64px;
}

.stat__media {
    position: relative;
    display: flex;
    width: 58%;
    column-gap: 21px;
}

.stat__media::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 340px;
    height: 340px;
    background: #e2eddf;
    filter: blur(50px);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.lineball-3 {
    position: absolute;
    z-index: 2;
    rotate: 5deg;
    left: 60px;
}

.stat__media-img {
    z-index: 1;
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}

.stat__media-img:first-child {
    margin-top: 90px;
}

.stat-member {
    font-family: "Public Sans", sans-serif;
    position: absolute;
    padding: 19px 23px 12px;
    bottom: 8px;
    right: -9px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    z-index: 2;
}

.stat-member__heading {
    font-weight: 600;
    font-size: 1.4rem;
    color: #152427;
}

.stat-member__label {
    margin-top: 6px;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.stat-member__loading {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.stat-member__percent {
    position: relative;
    margin: 10px 0 8px;
}

.stat-member__percent::after {
    position: absolute;
    display: inline-block;
    bottom: -5px;
    left: 0;
    content: "";
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.stat-member__percent::before {
    position: absolute;
    display: inline-block;
    bottom: -5px;
    left: 0;
    content: "";
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
    z-index: 1;
}

.stat-member__load {
    display: flex;
    justify-content: flex-end;
}

.stat-membar__foot {
    position: relative;
    display: flex;
    margin-top: 19px;
}

.stat-membar__foot::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: -16px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.stat-membar__foot::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: -13px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.stat-member__avatas {
    margin-left: 30px;
}

.stat-member__avatar {
    margin-left: -10px;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.stat__info {
    flex-grow: 1;
}

.stat__info-heading {
    margin-top: 20px;
}

.stat__info-desc {
    width: 478px;
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.stat-row {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.stat-row::after {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: -20px;
    width: 485px;
    height: 1px;
    background: #83a17d;
}

.stat-row:last-child {
    margin-top: 58px;
}

.stat-row__percent {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.stat-row__desc {
    margin-left: 20px;
    width: 364px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* Process */
.prosess {
    margin-top: 115px;
    padding-bottom: 74px;
}

.process__heading {
    margin-top: 20px;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 57px 30px 57px;
    border-bottom: 1px solid #83a17d;
    transition: 0.25s;
}

.process-item:first-child {
    padding-bottom: 57px;
}

.process-item:hover {
    padding-bottom: 57px;
    background: #e2eddf;
    border-radius: 33px;
    border-color: transparent;
}

.process-item + .process-item {
    margin-top: 46px;
}

.process-item__step {
    margin-right: 64px;
    font-weight: 600;
    font-size: 7.2rem;
    color: #143c3c;
}

.process-item__heading {
    margin-right: auto;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.process-item__action {
    position: relative;
}

.process-item__more {
    position: absolute;
    bottom: -34px;
    font-size: 1.8rem;
    text-decoration: underline;
    line-height: 1;
    color: #575d5e;
}

.process-item__img {
    position: absolute;
    right: 92px;
    margin-top: -259px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process-item__desc {
    justify-content: flex-end;
    max-width: 572px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}

/* Project */

.project {
    margin-top: 74px;
    padding: 116px 0 63px;
    background: #143c3c;
}

.project-top {
    display: flex;
    align-items: center;
}

.project__heading {
    position: relative;
    color: #e7f9f9;
}

.project__heading::after {
    position: absolute;
    margin-left: 26px;
    display: inline-block;
    content: "";
    bottom: 21px;
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.project-top__info {
    margin-left: 93px;
}

.project-top__desc {
    max-width: 590px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.project-top__action {
    margin-top: 13px;
}

.project-top__more {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.project-top__arrow {
    margin-left: 26px;
    rotate: 180deg;
    color: #80a07b;
}

.project__media-img {
    object-fit: cover;
    width: 1140px;
    height: 544px;
    border-radius: 22px;
}

.project__media {
    position: relative;
    margin-top: 65px;
}

.project__media-play {
    position: absolute;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    outline: none;
    border: none;
    cursor: pointer;
}

.project-media__lineball {
    position: relative;
}

.project__media-line {
    position: absolute;
    right: -97px;
    top: -165px;
}

.project__media-ball {
    position: absolute;
    right: -95px;
    top: -72px;
    rotate: -10deg;
}

/* Features */

.feature {
    margin-top: 140px;
}

.feature__heading {
    margin: 0 auto;
    width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    text-align: center;
    color: #152427;
}

.feature__desc {
    margin: 20px auto 0;
    width: 547px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    text-align: center;
    color: #7d8188;
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 103px;
}

.feature-item {
    padding: 74px 32px;
    text-align: center;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: 0.25s;
}

.feature-item:hover {
    transform: translateY(-59px);
    background: #ffffff;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    border-color: transparent;
}

.feature-item__heading {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #152427;
}

.feature-item__desc {
    width: 286px;
    margin-top: 9px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* Resource */

.resource {
    margin-top: 184px;
}

.resource__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resource__desc {
    max-width: 409px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.resource__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.resource-item__info {
    padding: 26px 30px 12px;
    transition: 0.3s;
}

.resource-item:hover .resource-item__info {
    background: #ffffff;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
    border-radius: 0px 0px 20px 20px;
}

.resource-item__thump {
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.resource-item__btn {
    display: inline-block;
    padding: 7px 33px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    color: #000000;
    background: #e2eddf;
    border-radius: 20px;
    transition: 0.3s;
}

.resource-item:hover .resource-item__btn {
    color: #fff;
    background: #143c3c;
}

.resource-item__heading {
    padding-bottom: 38px;
    display: inline-block;
    max-width: 346px;
    margin-top: 13px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #143c3c;
    border-bottom: 1px solid #c4c4c4;
}

.resource-item:last-child .resource-item__heading {
    padding-bottom: 68px;
}

.resource-item__date {
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

/* Footer */

.footer {
    margin-top: 102px;
    padding: 72px 0 50px;
    background: #143c3c;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    border-bottom: 1px solid #295a5a;
}

.footer__heading {
    font-weight: 500;
    font-size: 3.2rem;
    color: #ffffff;
}

.footer-form {
    display: flex;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #6a8383;
}

.footer-form__input {
    margin-top: -25px;
    width: 354px;
    height: 59px;
    outline: none;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1;
    color: #fff;
    background: transparent;
    border: none;
}

.footer-form__input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #6a8383;
}

.footer-form__submit {
    margin-top: -15px;
    color: #c4c4c4;
    outline: none;
    border: none;
    background-color: transparent;
}

.footer-socials {
    display: flex;
    align-items: center;
    margin-top: 47px;
    column-gap: 22px;
}

.footer-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
}

.footer-social__link:hover {
    background: #a75325;
    border-color: transparent;
}

.footer__row {
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    display: flex;
    column-gap: 50px;
}

.footer__title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.footer__list {
    margin-top: 6px;
}

.footer__link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.25;
    color: #6a8383;
    transition: 0.25s;
}

.footer__link:hover {
    text-decoration: underline;
}
